//
   Created by randre03 on 8/12/14.

h1 New User

form(method="POST", action="/users")
  P
    label(for="username") Username<br />
    input#username(name="username")

  P
    label(for="name") Name<br />
    input#name(name="name")

  P
    label(for="bio") Bio<br />
    textarea#bio(name="bio")

  P
    input(type="submit", value="Create")